<div id="priceList"></div>
<h3 class="text-warning"><i class="fa fa-lg fa-money"></i> Стоимость</h3>

<div class="panel panel-default">
    <table class="table table-bordered table-responsive table-striped">
        <thead>
        <tr>
            <th>Кол-во занятий</th>
            <th>Стоимость, Rs$$$</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>500</td>
        </tr>
        <tr>
            <td>6</td>
            <td>2800</td>
        </tr>
        <tr>
            <td>12</td>
            <td>5000</td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer text-danger">
        Если есть желание серьезно заниматься, но бюджет не позволяет, пожалуйста, обратитесь к нам, обязательно найдем удобные условия!!!
    </div>
</div>

<div id="timeTable"></div>
<h3 class="text-warning"><i class="fa fa-lg fa-clock-o"></i> Расписание</h3>
<p class="lead">
    Суббота / Понедельник / Среда &ndash; в 7:30
    <!--Вторник / Четверг / Суббота &ndash; в 8:00-->
</p>
<p>&ndash; длительность занятия &ndash; 2 часа</p>
<!--<p>&ndash; длительность занятия минимум 2 часа</p>-->
<p>&ndash; убедительная просьба быть в зале за 5 минут до начала занятия</p>