<div id="priceList"></div>
<h2>Стоимость</h2>

<div class="panel panel-default">
    <table class="table table-bordered table-responsive table-striped">
        <thead>
        <tr>
            <th>Кол-во занятий</th>
            <th>Стоимость, Руб</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>500</td>
        </tr>
        <tr>
            <td>Абонемент на месяц</td>
            <td>5500</td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer text-danger">
        Если есть желание серьезно заниматься, но бюджет не позволяет, пожалуйста, обратитесь к нам, обязательно найдем удобные условия!!!
    </div>
</div>

<div id="timeTable"></div>
<h2>Расписание</h2>
<p class="lead">
    <span class="text-danger">Суббота</span> / Понедельник / Среда &ndash; в 7:30
</p>
<p>&ndash; длительность занятия &ndash; 2 часа</p>
<p>&ndash; убедительная просьба быть в зале за 5 минут до начала занятия</p>